<!DOCTYPE html>
<html lang="en">
  <!-- Include para o header com os dados-->
  {% include "_partials/head.njk" %}

  <body>
    <div class="main-wrapper">
      {% block body %}{% endblock %}
    </div>
  </body>

</html>
